---
import BaseHead from '../components/BaseHead.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { getCollection } from 'astro:content';
import { SITE_TITLE, SITE_DESCRIPTION, SUBJECTS } from '../consts';
import '/src/styles/main.css';

import pinImg from '../../public/icons/pin.svg';
import HeaderLink from '../components/HeaderLink.astro';

const today = new Date();
const posts = (await getCollection('study-notes')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>

		<header>
			<h1> <a href="/archive"> {SITE_TITLE} {(today.getFullYear())-1}/{today.getFullYear()} </a> </h1>
		</header>

		<Navbar />
		

		<div class="container">
			<aside>
				<h2>Subjects</h2>
				<ul>
					{SUBJECTS.map((data) => <li> <a href={`/subject/${data}`}> {data} </a> </li>)}
				</ul>
			</aside>
		
			<main class="center-flex">

				{posts.map((post) => (
					<div class="card center-flex">
						<img src={pinImg.src} alt="pin" />
						<div class="content">
							<h2> <HeaderLink href={`/study-notes/${post.slug}/`}> {post.data.title} </HeaderLink> </h2>
							<p> <FormattedDate date={post.data.pubDate} /> - <a href={`/author/${post.data.author}`}> {post.data.author} </a> </p>
							<div class="tags">
								{post.data.tags?.map((data) => <a class="tag" href={`/tag/${data}`}>#{data}</a>)}
							</div>
						</div>
						<div class="circle-container">
							<span class="circle"></span>
						</div>
					</div>
				))}
	
			</main>
		</div>
		
		
		<Footer />
	</body>
</html>